{{#resources}}
{{>licenseInfo}}
package {{package}};

import com.sendgrid.base.apikey.ApiKeyBase;
import com.fasterxml.jackson.core.type.TypeReference;
import com.sendgrid.constant.ApplicationConstants;
import com.sendgrid.constant.Domains;
import com.sendgrid.exception.ApiConnectionException;
import com.sendgrid.exception.ApiErrorResponse;
import com.sendgrid.exception.GenericApiError;
import com.sendgrid.http.ApiResponse;
import com.sendgrid.http.HttpMethod;
import com.sendgrid.util.JsonUtil;
import com.sendgrid.util.Matcher;
import com.sendgrid.http.Request;
import com.sendgrid.http.Response;
import com.sendgrid.http.ApiKeyRestClient;
import lombok.RequiredArgsConstructor;
import lombok.Setter;
import java.util.List;


{{#imports}}
import {{import}};
{{/imports}}


{{#operations}}
@RequiredArgsConstructor
public class {{classname}} extends ApiKeyBase {
{{>helper/createinstancevariables}}

    public ApiResponse<{{{vendorExtensions.x-success-return-type}}}> send(final ApiKeyRestClient client) {
        String path = "{{path}}";
        Request request = new Request(HttpMethod.{{httpMethod}}, path, Domains.API.toString());
        {{#vendorExtensions.has-pathParams}}
            addPathParams(request);
        {{/vendorExtensions.has-pathParams}}
        {{#vendorExtensions.has-queryParams}}
            addQueryParams(request);
        {{/vendorExtensions.has-queryParams}}
        {{#vendorExtensions.has-headerParams}}
            addHeaderParams(request);
        {{/vendorExtensions.has-headerParams}}
        {{#vendorExtensions.has-body}}
            addBody(request);
        {{/vendorExtensions.has-body}}
        Response response = client.request(request);
        {{>helper/response_error_handling}}
            int statusCode = response.getStatusCode();
        {{>helper/response_success_handling}}
    }

    {{>helper/path_param}}
    {{>helper/header}}
    {{>helper/query}}
    {{>helper/body}}
}
 {{/operations}}
{{/resources}}