{{#bodyParam}}
@RequiredArgsConstructor
public class {{{dataType}}} {
{{#vars}}
    {{#required}}
    public final {{{dataType}}} {{name}}
    {{/required}}
    {{^required}}
    public {{{dataType}}} {{name}}
    {{/required}}
{{/vars}}
}
{{/bodyParam}}