{{#resources}}
{{>licenseInfo}}
package {{package}};
import com.sendgrid.util.Matcher;

{{#operations}}
{{#vendorExtensions.x-create-operation}}
@RequiredArgsConstructor
public class {{classname}}Creator {
{{>helper/createinstancevariables}}
    
    public {{{vendorExtensions.x-success-datatype}}} send(final TokenRestClient client) {
        String path = "{{path}}";
        Request.Builder builder = new Request.Builder(HttpMethod.{{httpMethod}}, path)
            {{#pathParams}}
                .addPathParams("{{baseName}}", {{paramName}}.toString())
            {{/pathParams}};
    {{#vendorExtensions.has-queryParams}}
        addQueryParam(builder);
    {{/vendorExtensions.has-queryParams}}
    {{#vendorExtensions.has-headerParams}}
        addHeaderParams(builder);
    {{/vendorExtensions.has-headerParams}}
    {{#vendorExtensions.has-body}}
        addBody(builder);
    {{/vendorExtensions.has-body}}
        Request request = builder.build();
        Response response = client.request(request);
        {{>helper/response_error_handling}}
        return JsonUtil.fromJson(response.getStream(), {{vendorExtensions.x-success-datatype}}.class);
    }
    {{>helper/header}}
    {{>helper/query}}
    {{>helper/body}}
    
}
{{/vendorExtensions.x-create-operation}}
{{/operations}}
{{/resources}}