public enum {{classname}} {
{{#allowableValues}}{{#enumVars}}
    {{name}}({{{value}}}){{^-last}},{{/-last}}{{#-last}};{{/-last}}
{{/enumVars}}{{/allowableValues}}
    private final String value;

    private {{classname}}(final String value) {
        this.value = value;
    }

    @Override
    @JsonValue
    public String toString() {
        return value;
    }

    @JsonCreator
    public static {{classname}} forValue(final String value) {
        return Promoter.enumFromString(
            value,
            {{classname}}.values()
        );
    }
}