{{>licenseInfo}}

package com.sendgrid.rest.{{package}};
{{#imports}}
import {{import}};
{{/imports}}

import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonValue;
import com.sendgrid.converter.Promoter;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;
import java.util.StringJoiner;
import com.fasterxml.jackson.annotation.JsonCreator;

{{#models}}{{#model}}
    {{^isEnum}}{{>pojo}} {{/isEnum}}
    {{#isEnum}}{{>enum}}{{/isEnum}}
{{/model}}{{/models}}