{{>licenseInfo}}

package com.sendgrid.rest.{{package}};
{{#imports}}
import {{import}};
{{/imports}}
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;
import java.util.StringJoiner;

{{#models}}{{#model}}
    {{^isEnum}}{{>pojo}} {{/isEnum}}
    {{#isEnum}}{{>enum}}{{/isEnum}}
{{/model}}{{/models}}