{{#resources}}
{{>licenseInfo}}
import warnings
from pydantic import validate_call, Field, StrictFloat, StrictStr, StrictInt
from typing import Any, Dict, List, Optional, Tuple, Union
from typing_extensions import Annotated

{{#imports}}
    {{import}}
{{/imports}}
class {{classname}}:
    def __init__(self) -> None:
        {{>api/api_init}}

{{/resources}}