from enum import Enum
from typing import Optional
from sendgrid.converters.serialize import to_serializable, from_serializable

{{#models}}{{#model}}
    {{^isEnum}}{{>pojo}} {{/isEnum}}
    {{#isEnum}}{{>enum}}{{/isEnum}}
{{/model}}{{/models}}