from enum import Enum
from typing import Optional, Dict, List
from sendgrid.converters.serialize import to_serializable, from_serializable
from enum import Enum
{{#imports}}
{{import}}
{{/imports}}

{{#models}}{{#model}}
{{^isEnum}}{{>pojo}} {{/isEnum}}
{{#isEnum}}{{>enum}}{{/isEnum}}
{{/model}}{{/models}}