{{#vendorExtensions.has-body}}
    
    private void addBody(final Request.Builder builder) {
    {{#bodyParams}}
        if ({{paramName}} != null) {
        builder.body(JsonUtil.toJson({{paramName}}));
        }
    {{/bodyParams}}
    }
{{/vendorExtensions.has-body}}