{{#vendorExtensions.has-body}}
    
    private void addBody(final Request request) {
    {{#bodyParams}}
        if ({{paramName}} != null) {
            request.addBody(JsonUtil.toJson({{paramName}}));
        }
    {{/bodyParams}}
    }
{{/vendorExtensions.has-body}}