{{#pathParams}}
    private final {{{dataType}}} {{paramName}};
{{/pathParams}}
{{#queryParams}}
    {{#required}}
    private final {{{dataType}}} {{paramName}};
    {{/required}}
    {{^required}}
    @Setter
    private {{{dataType}}} {{paramName}};
    {{/required}}
{{/queryParams}}
{{#headerParams}}
    {{#required}}
    private final {{{dataType}}} {{paramName}};
    {{/required}}
    {{^required}}
    @Setter
    private {{{dataType}}} {{paramName}};
    {{/required}}
{{/headerParams}}
{{#bodyParams}}
    @Setter
    private {{{dataType}}} {{paramName}};
{{/bodyParams}}