{{#vendorExtensions.has-headerParams}}
    
    private void addHeaderParams(Request request) {
    {{#headerParams}}
        if ({{paramName}} != null) {
            request.addHeaderParam("{{baseName}}", {{paramName}}.toString());
        }
    {{/headerParams}}
    
    }
{{/vendorExtensions.has-headerParams}}