{{#vendorExtensions.has-queryParams}}
    
    private void addQueryParams(Request request) {
    {{#queryParams}}
        if ({{paramName}} != null) {
            request.addQueryParam("{{baseName}}", {{paramName}}.toString());
        }
    {{/queryParams}}
    }
{{/vendorExtensions.has-queryParams}}