{{#vendorExtensions.has-queryParams}}
    
    private void addQueryParams(Request.Builder builder) {
    {{#queryParams}}
        if ({{paramName}} != null) {
            builder.addQueryParam("{{baseName}}", {{paramName}}.toString());
        }
    {{/queryParams}}

    }
{{/vendorExtensions.has-queryParams}}