
if (response == null) {
    throw new ApiConnectionException(
    "{{baseName}} creation failed: Unable to connect to server"
    );
} else if (!ApplicationConstants.SUCCESS.test(response.getStatusCode())) {

int statusCode = response.getStatusCode();
{{#responses}}
    {{#is4xx}}
        {{>helper/error_code_statement}}
    {{/is4xx}}
    {{#is5xx}}
        {{>helper/error_code_statement}}
    {{/is5xx}}
{{/responses}}
    GenericApiError error = JsonUtil.fromJson(
        response.getStream(),
        GenericApiError.class
    );
    throw new ApiErrorResponse(statusCode, null, error, response.getHeaders());
}