{{#pathParams}}
    {{paramName}}: {{{dataType}}},
{{/pathParams}}
{{#headerParams}}
    {{paramName}}: Optional[{{{dataType}}}] = None,
{{/headerParams}}
{{#queryParams}}
    {{paramName}}: Optional[{{{dataType}}}] = None,
{{/queryParams}}
{{#bodyParams}}
    {{paramName}}: Optional[{{{dataType}}}] = None,
{{/bodyParams}}